*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:url(image2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: orange;
}
.container{
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px red;
    text-align: center;
}
h1 {
    color: orange;
    margin-bottom: 50px;
}
label {
    
    margin-bottom: 10px;
    font-weight: bold;
    font-size: large;
}
input {
    width: 80px;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    background-color:#772b2b ;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: orange;
}
.resultat {
    margin-top: 10px;
}
#password {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 5px;
    color: white;
}